.game-play-container{
  .top-row{
    h1{
      .account-box{
        float: right;
        font-size: 14px;
        vertical-align: middle;
      }
    }
  }
  .game-play-main{
    padding: 0;
    width: 602px;
    margin: 50px auto 10px auto;
    input{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      box-shadow: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    #game-play-phaser{
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      width: 100%;
      canvas{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
    }
  }
  .game-play-footer{
    margin-top: 40px;
  }
}