<div class="game-play-container container">
    <div class="row row-fluid top-row">
        <div class="span4 offset2">
            <h1>Play!</h1>
        </div>
        <div class="span4 account-box" auth-account-box="state.returnPath"></div>
    </div>
    <div class="row row-fluid">
        <div class="span8 offset2 text-center game-play-main well">
            <img src="/assets/images/character_front.svg">
        </div>
    </div>
</div>