<div class="game-play-container container">
    <div class="row-fluid top-row">
        <div class="span8 offset2">
            <h1>Play!<span class="account-box" auth-account-box="state.returnPath"></span></h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="game-play-main well">
            <div game-phaser="state.game.phaser" game-phaser-config="state.game.config"></div>
            <input class="form-control input-block-level" game-play-input="state.game.input" auto-focus>
        </div>
        <div class="text-center">
            Try "help" at any time if you're lost.
        </div>
    </div>
    <div class="row-fluid text-center game-play-footer">
        <div class="span4 offset4">
            &copy;2014 Brandon Phillips
        </div>
    </div>
</div>